/* line 1, ../sass/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
}
/* line 6, ../sass/_base.scss */
body h1, body h2, body h3, body p {
  margin: 0;
}
/* line 10, ../sass/_base.scss */
body header, body footer {
  color: #eceff1;
  background-color: #263238;
  line-height: 5vh;
  text-align: center;
}
/* line 17, ../sass/_base.scss */
body header {
  height: 10vh;
  color: #ffab00;
}
/* line 22, ../sass/_base.scss */
body section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 12vh);
  background-color: #424242;
  color: #fafafa;
}
/* line 31, ../sass/_base.scss */
body section #desactivate {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #eee;
  border: 0;
  outline: 0;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 44, ../sass/_base.scss */
body footer {
  height: 2vh;
  line-height: 2vh;
  font-size: .7em;
}
/* line 50, ../sass/_base.scss */
body [class*="player"] h3 {
  position: relative;
  width: 400px;
  height: 30px;
  margin: 10px auto;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #111;
  border-bottom: 1px solid #9e9e9e;
}
/* line 62, ../sass/_base.scss */
body .player1 h3 {
  color: #d50000;
}
/* line 63, ../sass/_base.scss */
body .player2 h3 {
  color: #1976d2;
}
/* line 65, ../sass/_base.scss */
body .updown {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fafafa;
  color: #111;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  line-height: 38px;
  border-bottom: 2px solid #111;
}
/* line 79, ../sass/_base.scss */
body #LP1Down, body #LP2Down {
  top: -5px;
  left: -20px;
}
/* line 83, ../sass/_base.scss */
body #LP1Up, body #LP2Up {
  top: -5px;
  right: -20px;
}
/* line 88, ../sass/_base.scss */
body .cards {
  display: flex;
  justify-content: center;
}
/* line 92, ../sass/_base.scss */
body .cards [class*="card-"] {
  position: relative;
  margin: 5px;
  width: 220px;
  height: 320px;
  outline: 1px solid #9e9e9e;
  background-color: rgba(0, 0, 0, 0.25);
}
/* line 100, ../sass/_base.scss */
body .cards [class*="card-"] .add {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border: 2px solid #eee;
  color: #eee;
  font-size: 3em;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
/* line 120, ../sass/_base.scss */
body .modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  flex-wrap: wrap;
  top: -230px;
  left: 50%;
  margin-left: -400px;
  width: 900px;
  padding: 15px;
  height: 188px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fafafa;
  box-shadow: 0 3px 3px #333;
  transition: .4s;
}
/* line 137, ../sass/_base.scss */
body .modal div {
  position: relative;
  width: 80px;
  min-width: 80px;
  height: 80px;
  border: 2px solid #eee;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .4s;
}
/* line 149, ../sass/_base.scss */
body .modal div:hover {
  filter: brightness(150%);
}
/* line 153, ../sass/_base.scss */
body .modal div#barbare {
  background-image: url(../img/barbare.jpg);
}
/* line 154, ../sass/_base.scss */
body .modal div#barbareF {
  background-image: url(../img/barbareF.jpg);
}
/* line 155, ../sass/_base.scss */
body .modal div#dwarf {
  background-image: url(../img/dwarf.jpg);
}
/* line 156, ../sass/_base.scss */
body .modal div#gobelin {
  background-image: url(../img/gobelin.jpg);
}
/* line 157, ../sass/_base.scss */
body .modal div#jumeaux {
  background-image: url(../img/jumeaux.jpg);
}
/* line 158, ../sass/_base.scss */
body .modal div#loup-garou {
  background-image: url(../img/loup-garou.jpg);
}
/* line 159, ../sass/_base.scss */
body .modal div#ogre {
  background-image: url(../img/ogre.jpg);
}
/* line 160, ../sass/_base.scss */
body .modal div#zombie {
  background-image: url(../img/zombie.jpg);
}
/* line 161, ../sass/_base.scss */
body .modal div#pyromancien {
  background-image: url(../img/pyromancien.jpg);
}
/* line 162, ../sass/_base.scss */
body .modal div#sorcier-foudre {
  background-image: url(../img/sorcier-foudre.jpg);
}
/* line 163, ../sass/_base.scss */
body .modal div#magelame {
  background-image: url(../img/magelame.jpg);
}
/* line 164, ../sass/_base.scss */
body .modal div#magicien {
  background-image: url(../img/magicien.jpg);
}
/* line 165, ../sass/_base.scss */
body .modal div#sorciere {
  background-image: url(../img/sorciere.jpg);
}
/* line 166, ../sass/_base.scss */
body .modal div#spider {
  background-image: url(../img/spider.jpg);
}
/* line 167, ../sass/_base.scss */
body .modal div#necromante {
  background-image: url(../img/necromante.jpg);
}
/* line 168, ../sass/_base.scss */
body .modal div#dragon {
  background-image: url(../img/dragon.jpg);
}
/* line 169, ../sass/_base.scss */
body .modal div#liche {
  background-image: url(../img/liche.jpg);
}
/* line 170, ../sass/_base.scss */
body .modal div#sucube {
  background-image: url(../img/sucube.jpg);
}
/* line 171, ../sass/_base.scss */
body .modal div#nymphe {
  background-image: url(../img/nymphe.jpg);
}
/* line 172, ../sass/_base.scss */
body .modal div#demon {
  background-image: url(../img/demon.jpg);
}
/* line 174, ../sass/_base.scss */
body .modal div .m-lvl {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #eee;
  color: #111;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
  font-weight: 700;
}

/* line 1, ../sass/_card.scss */
.monster {
  position: relative;
  cursor: default;
}
/* line 5, ../sass/_card.scss */
.monster .head {
  position: relative;
  display: flex;
  height: 40px;
}
/* line 10, ../sass/_card.scss */
.monster .head .name {
  width: calc(100% - 90px);
  background-color: #111;
  color: #ccc;
  line-height: 40px;
  padding-left: 10px;
}
/* line 18, ../sass/_card.scss */
.monster .head .lvl, .monster .head .energy {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: #fafafa;
  color: #111;
  line-height: 40px;
  text-align: center;
}
/* line 28, ../sass/_card.scss */
.monster .head .lvl {
  font-size: 1.7em;
}
/* line 32, ../sass/_card.scss */
.monster .head .energy {
  position: relative;
}
/* line 34, ../sass/_card.scss */
.monster .head .energy input {
  position: absolute;
  left: 7px;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  padding: 0;
  font-size: 1.4em;
  text-align: center;
  background-color: transparent;
}
/* line 49, ../sass/_card.scss */
.monster [class*="img-"] {
  position: absolute;
  top: 40px;
  right: 0;
  width: 180px;
  height: 160px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 61, ../sass/_card.scss */
.monster .img-barbare {
  background-image: url("../img/barbare.jpg");
}
/* line 62, ../sass/_card.scss */
.monster .img-barbareF {
  background-image: url("../img/barbareF.jpg");
}
/* line 63, ../sass/_card.scss */
.monster .img-dwarf {
  background-image: url("../img/dwarf.jpg");
}
/* line 64, ../sass/_card.scss */
.monster .img-gobelin {
  background-image: url("../img/gobelin.jpg");
}
/* line 65, ../sass/_card.scss */
.monster .img-jumeaux {
  background-image: url("../img/jumeaux.jpg");
}
/* line 66, ../sass/_card.scss */
.monster .img-loup-garou {
  background-image: url("../img/loup-garou.jpg");
}
/* line 67, ../sass/_card.scss */
.monster .img-ogre {
  background-image: url("../img/ogre.jpg");
}
/* line 68, ../sass/_card.scss */
.monster .img-zombie {
  background-image: url("../img/zombie.jpg");
}
/* line 69, ../sass/_card.scss */
.monster .img-pyromancien {
  background-image: url("../img/pyromancien.jpg");
}
/* line 70, ../sass/_card.scss */
.monster .img-sorcier-foudre {
  background-image: url("../img/sorcier-foudre.jpg");
}
/* line 71, ../sass/_card.scss */
.monster .img-magelame {
  background-image: url("../img/magelame.jpg");
}
/* line 72, ../sass/_card.scss */
.monster .img-magicien {
  background-image: url("../img/magicien.jpg");
}
/* line 73, ../sass/_card.scss */
.monster .img-sorciere {
  background-image: url("../img/sorciere.jpg");
}
/* line 74, ../sass/_card.scss */
.monster .img-spider {
  background-image: url("../img/spider.jpg");
}
/* line 75, ../sass/_card.scss */
.monster .img-necromante {
  background-image: url("../img/necromante.jpg");
}
/* line 76, ../sass/_card.scss */
.monster .img-dragon {
  background-image: url("../img/dragon.jpg");
}
/* line 77, ../sass/_card.scss */
.monster .img-liche {
  background-image: url("../img/liche.jpg");
}
/* line 78, ../sass/_card.scss */
.monster .img-sucube {
  background-image: url("../img/sucube.jpg");
}
/* line 79, ../sass/_card.scss */
.monster .img-nymphe {
  background-image: url("../img/nymphe.jpg");
}
/* line 80, ../sass/_card.scss */
.monster .img-demon {
  background-image: url("../img/demon.jpg");
}
/* line 82, ../sass/_card.scss */
.monster .stat {
  border: 1px solid #111;
  border-bottom: 0;
  width: 38px;
  height: 39px;
}
/* line 88, ../sass/_card.scss */
.monster .stat p {
  height: 20px;
  line-height: 20px;
  font-size: .7em;
  text-align: center;
  font-weight: 700;
}
/* line 95, ../sass/_card.scss */
.monster .stat p:first-child {
  background-color: #222;
}
/* line 99, ../sass/_card.scss */
.monster .stat p:last-child {
  background-color: #ccc;
  color: #333;
}
/* line 106, ../sass/_card.scss */
.monster .type {
  height: 20px;
  line-height: 20px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  background-color: #222;
  color: #ccc;
  font-size: .8em;
  font-weight: 700;
  padding-left: 5px;
}
/* line 118, ../sass/_card.scss */
.monster .description {
  position: relative;
  height: 86px;
  padding: 5px;
  color: #333;
  background-color: #ccc;
  border: 1px solid #333;
}
/* line 126, ../sass/_card.scss */
.monster .description .skill-type, .monster .description .skill {
  width: 90%;
  margin: 2px auto;
  padding-bottom: 5px;
  font-style: .6em;
  text-align: center;
  border-bottom: 1px solid #333;
}
/* line 135, ../sass/_card.scss */
.monster .description .skill-type {
  display: flex;
  justify-content: center;
}
/* line 138, ../sass/_card.scss */
.monster .description .skill-type div {
  width: 25px;
  height: 25px;
  margin: 0 1px;
  background-size: cover;
  border-radius: 100%;
}
/* line 145, ../sass/_card.scss */
.monster .description .skill-type div.magie {
  background-image: url(../img/dice/mag-dice.jpg);
}
/* line 146, ../sass/_card.scss */
.monster .description .skill-type div.rituel {
  background-image: url(../img/dice/rit-dice.jpg);
}
/* line 147, ../sass/_card.scss */
.monster .description .skill-type div.combat {
  background-image: url(../img/dice/cbt-dice.jpg);
}
/* line 148, ../sass/_card.scss */
.monster .description .skill-type div.piege {
  background-image: url(../img/dice/pie-dice.jpg);
}
/* line 152, ../sass/_card.scss */
.monster .description .delete {
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background-color: #111;
  color: #eee;
  text-align: center;
  line-height: 30px;
  border: 1px solid #eee;
  border-radius: 100%;
  cursor: pointer;
}
/* line 168, ../sass/_card.scss */
.monster .description input[type="checkbox"] {
  position: absolute;
  left: 1px;
  bottom: 1px;
}
