.monster {
  position: relative;
  cursor: default;

  .head {
    position: relative;
    display: flex;
    height: 40px;

    .name {
      width: calc(100% - 90px);
      background-color: #111;
      color: #ccc;
      line-height: 40px;
      padding-left: 10px;
    }

    .lvl, .energy {
      width: 40px;
      min-width: 40px;
      height: 40px;
      background-color: #fafafa;
      color: #111;
      line-height: 40px;
      text-align: center;
    }

    .lvl {
      font-size: 1.7em;
    }

    .energy {
      position: relative;
      input {
        position: absolute;
        left: 7px;
        width: 40px;
        height: 40px;
        border: 0;
        outline: 0;
        padding: 0;
        font-size: 1.4em;
        text-align: center;
        background-color: transparent;
      }
    }
  }

  [class*="img-"] {
    position: absolute;
    top: 40px;
    right: 0;
    width: 180px;
    height: 160px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .img-barbare { background-image: url('../img/barbare.jpg') }
  .img-barbareF { background-image: url('../img/barbareF.jpg') }
  .img-dwarf { background-image: url('../img/dwarf.jpg') }
  .img-gobelin { background-image: url('../img/gobelin.jpg') }
  .img-jumeaux { background-image: url('../img/jumeaux.jpg') }
  .img-loup-garou { background-image: url('../img/loup-garou.jpg') }
  .img-ogre { background-image: url('../img/ogre.jpg') }
  .img-zombie { background-image: url('../img/zombie.jpg') }
  .img-pyromancien { background-image: url('../img/pyromancien.jpg') }
  .img-sorcier-foudre { background-image: url('../img/sorcier-foudre.jpg') }
  .img-magelame { background-image: url('../img/magelame.jpg') }
  .img-magicien { background-image: url('../img/magicien.jpg') }
  .img-sorciere { background-image: url('../img/sorciere.jpg') }
  .img-spider { background-image: url('../img/spider.jpg') }
  .img-necromante { background-image: url('../img/necromante.jpg') }
  .img-dragon { background-image: url('../img/dragon.jpg') }
  .img-liche { background-image: url('../img/liche.jpg') }
  .img-sucube { background-image: url('../img/sucube.jpg') }
  .img-nymphe { background-image: url('../img/nymphe.jpg') }
  .img-demon { background-image: url('../img/demon.jpg') }

  .stat {
    border: 1px solid #111;
    border-bottom: 0;
    width: 38px;
    height: 39px;

    p {
      height: 20px;
      line-height: 20px;
      font-size: .7em;
      text-align: center;
      font-weight: 700;

      &:first-child {
        background-color: #222;
      }

      &:last-child {
        background-color: #ccc;
        color: #333;
      }
    }
  }

  .type {
    height: 20px;
    line-height: 20px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    background-color: #222;
    color: #ccc;
    font-size: .8em;
    font-weight: 700;
    padding-left: 5px;
  }

  .description {
    position: relative;
    height: 86px;
    padding: 5px;
    color: #333;
    background-color: #ccc;
    border: 1px solid #333;

    .skill-type, .skill {
      width: 90%;
      margin: 2px auto;
      padding-bottom: 5px;
      font-style: .6em;
      text-align: center;
      border-bottom: 1px solid #333;
    }

    .skill-type {
      display: flex;
      justify-content: center;
      div {
        width: 25px;
        height: 25px;
        margin: 0 1px;
        background-size: cover;
        border-radius: 100%;

        &.magie { background-image: url(../img/dice/mag-dice.jpg); }
        &.rituel { background-image: url(../img/dice/rit-dice.jpg); }
        &.combat { background-image: url(../img/dice/cbt-dice.jpg); }
        &.piege { background-image: url(../img/dice/pie-dice.jpg); }
      }
    }

    .delete {
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 30px;
      background-color: #111;
      color: #eee;
      text-align: center;
      line-height: 30px;
      border: 1px solid #eee;
      border-radius: 100%;
      cursor: pointer;
    }

    input[type="checkbox"] {
      position: absolute;
      left: 1px;
      bottom: 1px;
    }
  }

}
